.tes {
  border: 1px solid white;
}

body {
  background-color: #000;
  font-family: Product Sans;
  color: #f9f6ff;
}

.content {
  display: flex;
  margin-left: 1%;
}

.content1 {
  margin: 1%;
}
.content2 {
  margin: 1%;
}

.detail-img {
  width: 500px;
  border-radius: 30px;
}

.content3 {
  width: 400px;
}

.div {
  margin-top: 10%;
}

.size {
  display: flex;
  flex-wrap: wrap;
}

.sizeNum {
  line-height: 50px;
  text-align: center;
  color: #c781ff;
  font-size: 24px;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100px;
  height: 50px;
  border: 1px solid #9460be;
}

.btn-add {
  background-color: #ff6a90;
  font-size: 24px;
  border-radius: 30px;
  margin-top: 10px;
  width: 200px;
}

.btn-add:hover {
  color: #f9f6ff;
  text-decoration: none;
}

.imgbox {
  background-color: #f9f6ff;
  width: 500px;
  height: 500px;
  border-radius: 30px;
}
